<div
  class="sidebar{{ with .Site.Params.doNotLoadAnimations }}
    .
  {{ else }}
    animated fadeInDown
  {{ end }}"
>
  <div class="sidebar__content">
    <div class="sidebar__introduction">
      <img
        class="sidebar__introduction-profileimage"
        src="{{ .Site.Params.profilePicture | relURL }}"
        alt="profile picture"
      />
      {{ if .IsHome }}
        <h1 class="sidebar__introduction-title">
          <a href="{{ .Site.BaseURL | relLangURL }}">{{ .Site.Params.Title }}</a>
        </h1>
      {{ else }}
        <div class="sidebar__introduction-title">
          <a href="{{ .Site.BaseURL | relLangURL }}">{{ .Site.Params.Title }}</a>
        </div>
      {{ end }}
      <div class="sidebar__introduction-description">
        <p>{{ replace .Site.Params.description "\n" "<br />" | safeHTML }}</p>
      </div>
    </div>
    <ul class="sidebar__list">
      {{ range $item := .Site.Params.socialIcons }}
        <li class="sidebar__list-item">
          <a
            href="{{ $item.url }}"
            target="_blank"
            rel="noopener me"
            aria-label="{{ $item.title }}"
            title="{{ $item.title }}"
          >
            <i class="{{ $item.icon }} fa-2x" aria-hidden="true"></i>
          </a>
        </li>
      {{ end }}
    </ul>
    <div class="sidebar__cv-button">
      <a href="https://drive.google.com/file/d/1CzEygwqtutf9q0PzHOWdp9WZag-66Iuz/view?usp=sharing" target="_blank" rel="noopener" class="cv-button">
        <i class="fas fa-download" aria-hidden="true"></i> Download CV
      </a>
    </div>
  </div>

</div>
